spring:
  datasource:
    url: jdbc:postgresql://${PGSQL_SERVICE_HOST}:${PGSQL_SERVICE_PORT}/${POSTGRES_DB}
    username: ${PGSQL_USERNAME}
    password: ${PGSQL_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

logging:
  level:
    root: info
    org.springframework.web: warn
